[submodule "BrytecConfig/vendor/glfw"]
	path = BrytecConfig/vendor/glfw
	url = https://github.com/bryanbendall/glfw.git
[submodule "BrytecConfig/vendor/imgui"]
	path = BrytecConfig/vendor/imgui
	url = https://github.com/bryanbendall/imgui.git
[submodule "BrytecConfig/vendor/imnodes"]
	path = BrytecConfig/vendor/imnodes
	url = https://github.com/bryanbendall/imnodes.git
[submodule "BrytecConfig/vendor/yaml-cpp"]
	path = BrytecConfig/vendor/yaml-cpp
	url = https://github.com/bryanbendall/yaml-cpp.git
